<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984902494385-v713eojluigbo0ufbi9upjbfdg1k42eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984902494385-v713eojluigbo0ufbi9upjbfdg1k42eu</string>
	<key>API_KEY</key>
	<string>AIzaSyBDEk4PaopKu-T38zjAuI76jtlhj-dFvbw</string>
	<key>GCM_SENDER_ID</key>
	<string>984902494385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mastashake08.qotd</string>
	<key>PROJECT_ID</key>
	<string>qotd-sharer</string>
	<key>STORAGE_BUCKET</key>
	<string>qotd-sharer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984902494385:ios:496145d266b1ea41</string>
	<key>DATABASE_URL</key>
	<string>https://qotd-sharer.firebaseio.com</string>
</dict>
</plist>